@use "./scss/abstracts/functions";
@use "./scss/abstracts/mixins";
@use "./scss/abstracts/variables";
@use "./scss/base/animations";
@use "./scss/base/base";
@use "./scss/base/reset";
@use "./scss/base/typography";
@use "./scss/layout/footer";
@use "./scss/layout/header";
@use "./scss/layout/navigation";
@use "./scss/themes/theme-dark";
@use "./scss/themes/theme-light";
@use "./scss/layout/hero-section";

@media (min-width:700px) {
.mobile-layout {
    display: none;
}
.desktop-layout {
    display: block;
}
.satisfied-students {
    display: block;
}

}
