@use "../abstracts/mixins";
.about-us {
  width: 320px;
  h2 {
    @include mixins.service-about-us-h2();
  }
  p {
    @include mixins.service-about-us-p();
  }
  .card {
    position: relative;
    left: 30px;
    text-align: center;
    width: 264px;
    height: 243px;
    border-radius: 11.39px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.08);
    margin-top: 60px;
  }
  h3 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 600;
    position: relative;
    top: -35px;
  }
  img {
    position: relative;
    top: -40px;
  }
  button {
    @include mixins.button-get-started-mobile();
    margin-top: 30px;
    position: relative;
    left: 115px;
  }
  .card-p {
    width: 217px;
    position: relative;
    left: 30px;
    top: -10px;
    color: rgba(7, 18, 16, 1);
  }
}

@media (min-width: 768px) {
  .about-us {
    width: 1240px;
    h2 {
      @include mixins.service-about-us-h2-desktop();
    }
    p {
      @include mixins.service-about-us-p-desktop();
    }
    .cards-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    .card {
      text-align: center;
      width: 371px;
      height: 273px;
      border-radius: 11.39px;
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.08);
      margin-top: 80px;
      z-index: 2;
    }

    button {
      @include mixins.button-get-started-desktop();
      margin-top: 30px;
      position: relative;
      left: 550px;
    }

    .card-p {
      width: 282px;
      position: relative;
      left: 50px;
      font-size: 17px;
      line-height: 180%;
      letter-spacing: 0%;
    }

    .circle {
      width: 100px;
      height: 100px;
      border-radius: 150px;
      border: 6px solid black;
      position: relative;
      left: -400px;
      top: -20px;
      z-index: 1;
    }
  }
}
