@use "../components/buttons";
@use "../components/cards";
@use "../abstracts/mixins" as *;
.hero-card {
 overflow-y: hidden;
    width: 90vw;
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-box{
        height: 250px;
        text-align: center;
        h1{
            color: rgba(24, 59, 86, 1);
            font-size: 32px;
            font-weight: 400;
        }
        p{
            font-size: 16px;
        }
        .buttons-box{
         display: flex;
         justify-content: space-between;
         margin-top: 10px;
        }
        }
    .girl-pic {
        position: relative;
        background-color: white;
        width: 260px;
        height: 250px;

        .small-cards{
            position: absolute;
            left: 3px;
            top: 40px;
            z-index: 3;
        }
        .background{
            z-index: 2;
            width: 217px;
            height: 175px;
            position: absolute;
            top: 26px;
            left: 35px;
            border-radius:9px;
            
        }
        .girl{
            width: 180px;
            height: 200px;
            position: absolute;
            left: 72px;
            z-index:3;
            object-fit: cover;
        }
    }

}

@media (min-width: 768px) {
    .hero-card {
    width: 1224px;
        
        height: auto;
        min-height: 600px;
        margin: 50px auto 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: visible;

        .text-box {
            width: 50%;
            height: auto;
            text-align: left;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 48px;
                line-height: 1.2;
                font-weight: 700;
                color: black;
                margin: 0;
                font-style: bold;
            }

            p {
                font-size: 20px;
                line-height: 1.6;
                color: black;
                max-width: 500px;
                font-weight: 400;
            }

            .buttons-box {
                justify-content: flex-start;
                gap: 20px;
                margin-top: 10px;

                .satisfied-students {
                    width: auto;
                    height: 40px;
                    margin-top: 20px;
                }
            }
        }

        .girl-pic {
            width: 500px;
            height: 500px;
            transform: scale(1);
            margin-top: 0;
            background-color: transparent;

            .small-cards {
                left: -10px;
                top: 100px;
                z-index: 10;
                

                
                ul {
                    background: white;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
                    border-radius: 12px;
                    margin-bottom: 15px;
                    font-size: 12px;
                    line-height: 14px;
                    width: 140px;
                    height: 100px;
                    display: flex;
                    gap: 10px;
                }
            }

            .background {
                width: 450px;
                height: 400px;
                top: 50px;
                left: 50px;
                border-radius: 20px;
            }

            .girl {
                width: 400px;
                height: 500px;
                left: 100px;
                top: 0;
                z-index: 5;
            }
        }
    }
}
@media (max-width:768px){
.satisfied-students{
    display: none;
  }
.girl-pic {
    display: flex;
}}