
   @use "../components/buttons" as *;
   @use "../base/typography" as *;
   @use "../abstracts/functions" as *;
   @use "../abstracts/mixins" as *;

   .mobile-layout {
    width: auto;
  
  
    nav {
      width: 90vw;
      height:70px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      
      .Ehya-logo {
        width: 74px;
        height: 24px;
      }
  
      .left-nav {
        display: flex;
        justify-content: space-around;
        gap: 40px;
        overflow-y: hidden;
        
        .menu-open-btn {
          cursor: pointer;
        }
      }
  
      // მენიუს ლოგიკა SCSS-ით. ~ ნიშნავს გახსნილია თუ არა ის ერთი კონკრეტული ტაბი//
      #menu-checker:checked ~ .menu-overlay {
        transform: translateX(0);
        
      }
  
      .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 5;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transform: translateX(100%);
        transition: transform 0.3s ease;
       
  
        .menu-header {
          width: 100%;
          height: max-content;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 40px;
          
  
          .close-btn {
            font-size: 32px;
            cursor: pointer;
            color: #183B56;
            overflow-y: hidden;
          }
        }
  
        .nav-links {
          list-style: none;
          padding: 0;
          text-align: center;
          overflow-y: hidden;
  
          li {
            margin-bottom: 25px;
            a {
              color: #183B56;
              font-size: 18px;
              font-weight: 600;
              &.signin {
                 margin-top: 10px;
                 display: block;
              }
            }
          }
        }
  
        .free-trial {
          width: 100%;
          padding: 15px;
          background-color: black;
          color: white;
          border: none;
          border-radius: 8px;
          font-size: 16px;
          font-weight: bold;
          margin-top: 20px;
         
        }
      }
    }
  }
  
  .desktop-nav {
    margin-top: 50px;
  width: 90vw;
  font-size: 16px;
  height: 90px;
  color: white;
  background-color: #183B56;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-radius: 12px;
  .desktop-layout p {
    width: 159px;
height: 30px;
gap: 8px;
font-size: 20px;
font-weight: 500;

  }
  & ul{
    display:flex;
    flex-direction: row;
    gap: 20px;
      }
  .right-nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    & .blue {
      color: white;
    }
    & .darkmode-switch {
     @include logo;
      align-self: center;
      
    }
  }
    }
