.desktop-layout nav {
    width: 100vw;
    border: red 3px solid;
    background-color:rgba(5, 42, 68, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 16px 24px;
    }
    ul {
     display: flex;
     flex-direction: row;
     gap: 30px;
    }
    
    .mobile-layout {
        width: 100%;
        margin: 0;
        nav {
        width: 100vw;
        margin: 5vw;
    display: flex;
    justify-content: space-between;
    }
    
    }