nav {
    border: red 3px solid;
    background-color:rgba(5, 42, 68, 1);
display: flex;
justify-content: space-between;
align-items: center;
top: 50px;
left: 100px;
border-radius: 12px;
padding: 16px 24px;
}
ul {
 display: flex;
 flex-direction: row;
}