@use "../abstracts/mixins";
.services {
  position: relative;
  left: 25px;
  width: 278px;
  height: 797px;
  border-radius: 10px;
  background-color: rgba(232, 219, 132, 1);
  margin-top: 30px;
  h2 {
    @include mixins.service-about-us-h2();
    padding-top: 25px;
  }
  p {
    position: relative;
    left: 15px;
    top: -10px;
    width: 252px;
    @include mixins.service-about-us-p();
  }

  .bag-icons-container {
    position: relative;
    top: -30px;
    width: 215px;
    height: 58px;
  }
  .bag-icon {
    position: relative;
    left: -15px;
  }
  .bag-p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    position: relative;
    top: -70px;
    left: 80px;
    text-align: left;
  }
  .services-pictures-container {
    width: 233.68px;
    height: 239.75px;
    background-color: rgba(234, 234, 234, 0.6);
    position: absolute;
    left: 30px;
    top: 450px;
    border-radius: 6.4px;
    z-index: 2;
  }
  .services-picture-1 {
    position: relative;
    left: -10px;
    top: 25px;
  }
  .services-picture-2 {
    position: relative;
    left: 10px;
    top: 25px;
  }
  .services-picture-3 {
    position: relative;
    left: 100px;
    top: -90px;
  }
  .dots {
    position: relative;
    top: -90px;
    left: 10px;
  }
  .services-ball {
    width: 99.64px;
    height: 99.64px;
    border-radius: 150px;
    background-color: rgba(5, 42, 68, 1);
    position: relative;
    top: 180px;
    left: 10px;
    z-index: 1;
  }

  button {
    @include mixins.button-get-started-mobile();
    position: relative;
    left: 90px;
    top: 200px;
  }
  .services-picture-1-desktop {
    display: none;
  }
  .services-picture-2-desktop {
    display: none;
  }
  .services-picture-3-desktop {
    display: none;
  }
  .dots-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .services {
    width: 1240px;
    height: 598px;
    border-radius: 29px;
    background-color: rgba(232, 219, 132, 1);
    margin-top: 30px;
    h2 {
      @include mixins.service-about-us-h2-desktop;
      padding-top: 25px;
      position: relative;
      left: -480px;
    }

    p {
      text-align: left;
      width: 515px;

      @include mixins.service-about-us-p-desktop();
    }
    .services-rightside-container {
      position: relative;
      left: 600px;
    }

    .bag-icons-container {
      position: relative;
      top: 0px;
      width: 215px;
      height: 58px;
    }
    .bag-icon {
      position: relative;
      left: -15px;
    }
    .bag-p {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0%;
      color: rgba(0, 0, 0, 1);
      position: relative;
      top: -73px;
      left: 80px;
      text-align: left;
    }
    .services-pictures-container {
      width: 462px;
      height: 474px;
      background-color: rgba(234, 234, 234, 0.6);
      position: absolute;
      left: 90px;
      top: 40px;
      border-radius: 12.64px;
      z-index: 2;
    }
    .services-picture-1 {
      display: none;
    }
    .services-picture-2 {
      display: none;
    }
    .services-picture-3 {
      display: none;
    }
    .dots {
      display: none;
    }

    .dots-desktop {
      display: inline;
      position: relative;
      top: -180px;
      left: 20px;
    }
    .services-picture-1-desktop {
      display: inline;
      position: relative;
      top: 50px;
      left: -15px;
    }
    .services-picture-2-desktop {
      display: inline;
      position: relative;
      left: 20px;
      top: 50px;
    }
    .services-picture-3-desktop {
      display: inline;
      position: relative;
      left: 200px;
      top: -170px;
    }

    .services-ball {
      width: 197px;
      height: 197px;
      border-radius: 150px;
      background-color: rgba(5, 42, 68, 1);
      position: relative;
      top: -40px;
      left: 40px;
      z-index: 1;
    }

    button {
      @include mixins.button-get-started-desktop();
      position: relative;
      left: 600px;
      top: -135px;
    }
  }
}
