.blue{
    background-color: rgba(5, 42, 68, 1);
    color: white;
    width: 100px;
height: 40px;
gap: 10px;
padding: 8px 12px;
border-radius: 8px;
}
.white {
    background-color: white;
    color: black;
    border: none;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}