<<<<<<< HEAD
  .web {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
=======
.web {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  // border: 3px solid red;
>>>>>>> f88f68e0bae6131da3646bd6a3e3c0f13066a61f
}
