* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-style: inherit;
}

ul, ol {
    list-style-type: none;

}

button {
    border: none;
    background-color: transparent;
}