* {
    font-family: "Poppins";
}
nav {
    color: white;
p {
    font-weight: 500;
    font-size: 20px;
}
ul {
    font-weight: 400;
    font-size: 16px;
}
.right-nav {
    font-weight: 400;
    font-size: 16px;
    button {
        color: black;
        font-weight: 600;
    }
}
}
aside {
    font-family: "Avenir LT Std";

}